.navBar {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.option{
  
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;

}
.option li {
    margin-left: 40px;
}